/* styles for banner section */

.banner{
    display: flex;
    background-color: #C6E4D6;
    border-radius: 20px;
    font-style: Fira Sans;
    width:60%;
    margin-left: 400px;
    margin-top: 100px;
    height: 500px;
   
    
  
}

.New-Bangladesh{
padding-left: 50px;
margin-top: 80px;
margin-bottom: 10px;
justify-content: center;

}

.heading{
    font-weight:400;
    font-size: 24px;
    color:rgba(14, 14, 14, 0.5)
}

p{
      font-size:25px;
      color: #0E0E0E;

}



.btn-background{
    background-color: #006A50;
    color: white;
    padding: 10px;
    border-radius: 8px;
    width:30%;
    font-weight: 400;
    font-size: 18px;
    
    
    
    
}

.symbol-of-independence{

    padding:10px;
}

.text{
    color: white;
}

/* style of main part */

.vision{
    margin:50px;
}
section h2{
    padding-left: 350px;
    font-weight: bold;
    font-size: 40px;
}

.explanation {
    padding-left: 350px;
    padding-right: 350px;
    color: rgba(14, 14, 14, 0.7);
}



.boxes{
    display: flex;
    margin-left: 150px;
    justify-content: center;
}

.box1{
background-color:rgb(213, 225, 245);
width:20%;
margin-right: 25px;
border-radius: 10px;
padding: 40px;

}


.box1 button{
    color: white;
    background-color:rgb(84, 144, 245);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.box2{
    background-color:rgb(198, 228, 214);
    width: 20%;
    margin-right: 25px;
    border-radius: 20px;
    padding: 40px;

    
    }

.box2 button{
        color: white;
        background-color:rgb(9, 161, 92);
        border-radius: 10px;
        text-align: center;
        padding: 20px;


    }
    

.box3{
    background-color:rgb(247, 235, 207);
    width: 20%;
    margin-right: 25px;
    border-radius: 20px;
    padding: 40px;
    
    

}

.box3 button{
    color: white;
    background-color:rgb(255, 194, 57);
    border-radius: 10px;
        text-align: center;
        padding: 20px;


}
